@charset "UTF-8";
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: local(※), /* IE fix */
        url('@/assets/fonts/Pretendard-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Pretendard-Regular.woff') format('woff');
}