@charset "UTF-8";
/* TEXT */
$TEXT_WHITE : #FFFFFF;
$TEXT_DEFAULT : #111111;
$TEXT_GRAY : #666666;
$TEXT_GRAY_LIGHT : #999999;
/* BORDER */
$BORDER_DEFAULT : #CCCCCC;
$BORDER_LIGHT : #DDDDDD;
/* BACKGROUND */
$BACKGROUND_POINT : #0E496D;