@charset "UTF-8";
@import './_partial/_base.scss';
@import './_partial/_font.scss';
@import './_partial/_variables.scss';

#app {
	min-height:100%;
	background:#f3f3f3;
}
.wrap {
	position:relative;
	min-height:100%;
	margin:0 auto;
	font-family:'Pretendard';
	color:#111;
}
/* header */
.header {
	padding:15px 0;
	background:#0080cc;
	text-align:center;
	color:#fff;
	z-index:10;
}
/* content */
.container {
	padding-left:340px;
	background:#fff;
}
.content {
	max-width:1000px;
	margin:0 auto;
	padding:40px;
	&--fit {
		padding:0;
	}
}
.box {
	& ~ .box {
		margin-top:30px;
		padding-top:30px;
		border-top:1px solid $BORDER_LIGHT;
	}
}
/* component */
button {
	font-family:inherit;
	cursor:pointer;
}
.title {
	margin-bottom:24px;
	font-size:26px;
}
.list {
	display:flex;
	flex-wrap:wrap;
	margin:0 -10px;
	li {
		overflow:hidden;
		position:relative;
		flex-basis:25%;
		margin-bottom:35px;
		padding:0 10px;
		border-radius:5px;
		&:hover {
			.list__thumbnail {
				transform:scale(1.08);
				&:after {
					opacity:0.3;
				}
			}
		}
	}
}
.tags {
	display:flex;
	flex-wrap:wrap;
	gap:10px;
	li {
		a {
			display:block;
			padding:5px 20px;
			border:1px solid #eee;
			border-radius:15px;
			color:#eee;
		}
	}
}
/* common */
/* main */
.sub {
	padding-top:50px;
	&--fit {
		padding-top:0;
	}
	&__intro {

	}
}
/* Category */
.category {
	margin-bottom:20px;
	&__button {
		display:inline-block;
		padding:4px 12px;
		border:none;
		background:none;
		font-family:inherit;
		font-size:18px;
		font-weight:600;
		cursor:pointer;
		&:first-child {
			padding-left:0;
		}
		&--active {
			color:red;
			text-decoration:underline;
		}
	}
}
/* Detail */
.detail {
	padding:40px;
	&__title {
		margin-bottom:1rem;
		font-size:3rem;
		font-weight:bold;
	}
	&__meta {
		display:flex;
		gap:20px;
		justify-content:space-between;
		align-items:center;
	}
	&__description {
		line-height:1.5;
	}
}